@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

header {
  height: 54px;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  background: #fff;
  border-bottom: 1px solid #dbdbdb;
}

nav {
  height: 54px;
  width: calc(100vw - 36px);
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
}

nav.mobile {
  display: flex;
}

nav.desktop {
  display: none;
}

nav ion-icon {
  font-size: 22px;
  color: #000;
}

nav img {
  width: 103px;
}

.container {
  margin: 54px 0;
}

.stories {
  height: 121px;
  width: 100vw;

  display: flex;
  align-items: center;
  gap: 14px;

  padding: 0 18px;
  overflow: hidden;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.story div {
  width: 66px;
  height: 66px;
  background: url("../assets/stories.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.story img {
  min-width: 56px;
}

.story p {
  width: 66px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #262626;

  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stories ion-icon {
  display: none;
}

aside {
  display: none;
}
